@charset "UTF-8";
/*Style général*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  width: 100vw;
  height: 100vh;
}

p {
  margin: 0;
}

.responsive {
  height: 100vh;
  background-color: grey;
}

/*Fin style général*/
/*RESPONSIVE*/
/*RWD pour smartphone 320px*/
@media screen and (min-width: 320px) {
  .responsive {
    width: 320px;
    margin: 0 auto;
  }
}

/*RWD pour smartphone 480px*/
@media screen and (min-width: 480px) {
  .responsive {
    width: 480px;
    margin: 0 auto;
  }
}

/*RWD pour tablettes 481px à 767px*/
@media screen and (min-width: 768px) {
  .responsive {
    width: 768px;
    margin: 0 auto;
  }
}

/*RWD pour laptop 768px à 979px*/
@media screen and (min-width: 980px) {
  .responsive {
    width: 980px;
    margin: 0 auto;
  }
}

/*RWD pour ordinateur 980px à 1200px*/
@media screen and (min-width: 1200px) {
  .responsive {
    width: 1200px;
    margin: 0 auto;
  }
}

/*RWD écrans larges 1600px et plus*/
@media screen and (min-width: 1600px) {
  .responsive {
    width: 1600px;
    margin: 0 auto;
  }
}

header {
  width: 100%;
  height: 500px;
  background: url(../img/background-tablette.png) fixed no-repeat;
  background-size: 100%;
}

header .navi {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .titre {
  margin: 0 0 20px 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

header .titre h1 {
  font-size: 1.4;
  margin: 0;
}

header .titre p {
  font-size: 0.8em;
}

header .formBox {
  width: 100%;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .formBox form {
  width: 95%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.644);
}

header .formBox form .blockSelection {
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .formBox form .blockSelection select {
  width: 90%;
  height: 20px;
  font-size: 0.8em;
}

header .formBox form .blockSelection .dates {
  width: 85%;
  height: 20px;
  font-size: 0.8em;
}

header .formBox form .btn {
  background-color: rgba(0, 128, 0, 0.514);
  width: 100%;
  height: 20px;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/*# sourceMappingURL=style.css.map */